@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Parisienne');

.app {
  font-family:  Poppins;
}

.content {
  width: 100%;
}

@media screen and (min-width: 1920px) {
      .app {
          max-width: 1920px;
          margin: 0 auto;
  }}